<header style="background-image: URL('https://wallpapercave.com/wp/wp5055279.jpg'); height: 500px;" class="d-flex align-items-center">
  <%# <form class="example" action="action_page.php">
    <input type="text" placeholder="Search your car.." name="search" style="width: 300px">
    <button type="submit"></button>
  </form> %>


  <h1>This is the home page</h1>
    <div style="background-image: URL('https://wallpapercave.com/wp/wp5055279.jpg')">
      <h2 style="color:white;">Are you ready for Adventure?</h2>
      <h3 style="color:white;">Let's begin...</h3>
      <div class="d-flex mt-4">
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-light me-3", style:"width:100px"  %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-outline-light", style:"width:100px"   %>
        <%= link_to "See Cars!", cars_path, class:"btn btn-outline-light ms-3", style:"width:100px"   %>
      </div>
      </div>
    </div>
  </header>
