<% if rental.owner_acceptance == false %>
                <h4>Requests</h4>
                <div>
                  <% user = User.find(rental.user_id) %>
                    <div class="d-flex">
                  <% if user.avatar.attached? %>
                    <%= cl_image_tag user.avatar.key, height: 40, width: 40, crop: :fill,  class:"avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% else %>
                    <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png", height: 40, width: 40, crop: :fill,  class:"avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                    <h5 class="mt-2 ms-3"><%= "#{user.first_name} send you a request for #{car.model}" %></h5>
                    <%= link_to "View", show_booked_rental_path(rental), class:"ms-3 btn btn-light" %>
                  </div>
                </div>
              <% else %>
                <p>No requests</p>
              <% end %>
