<h1>As an owner, you follow a methodology to receive a car when it was rented</h1>
<%= simple_form_for(@rental) do |f| %>
  <%= f.input :owner_end_condition, label: "I, #{current_user.first_name} #{current_user.last_name}, accept the conditions and ensured that the car is in the same condition as I deliver it.", required: true %>
  <%= f.submit %>
<% end %>
